<html>
<head>
    <title>Home|Learning</title>
</head>

<body>
<section class="nav">Navigation</section>

<section class="sidebar">Rightside</section>


{% block page_content %}

{% endblock %}


<footer>This is a footer</footer>
</body>
</html>